<footer>
  <div class="main">
    <div>
      <h1 routerLink="/">Bride2Be Boutique</h1>
      <p>
        Sediul nostru este în Suceava, însa distribuim produse la nivel
        național.
      </p>
    </div>
    <nav>
      <div class="socials">
        <a
          class="facebook"
          href="https://www.facebook.com/p/Bride2Be-Boutique-100057331816415/"
          target="_blank"
          ><img src="/assets/socials/facebook.png"
        /></a>
        <a class="facebook" href="https://wa.me/00733574971" target="_blank"
          ><img src="/assets/socials/whatsapp.png"
        /></a>
      </div>
      <div class="list">
        <span class="list__title">Bride2Be Boutique SRL</span>
        <a class="link" href="/about" routerLink="/about">Despre noi</a>
        <a><b>Email</b>: Bride2beboutique&#64;gmail.com</a>
        <a><b>Telefon</b>: +40 733 574 971</a>
      </div>
      <!-- <div class="list">
        <span class="list__title">Resurse utile</span>
        <a class="link" href="/assets/terms.pdf" target="_blank"
          >Termeni și condiții</a
        >
        <a
          class="link"
          href="/assets/Livrare și Retur pentru formularcazare.ro.pdf"
          target="_blank"
          >Livrare și retur</a
        >
        <a class="link" href="/assets/privacypolicy.pdf" target="_blank"
          >Politica de confidențialitate</a
        >
        <a
          class="link"
          href="https://legislatie.just.ro/Public/DetaliiDocument/257649?fs=e&s=cl"
          target="_blank"
          >Protecția consumatorilor</a
        >
      </div> -->
    </nav>
  </div>
  <div class="copyright">
    <span>Copyright © {{ year }} All rights reserved. Bride2Be Boutique.</span>
  </div>
</footer>
