.main {
  gap: 1rem;
  margin-top: 4rem;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  width: 100%;
  @media (min-width: 801px) {
    grid-template-columns: 15% auto;
    gap: 2rem;
    padding: 2rem 4rem;
  }
}

section {
  margin-top: 0.5rem;
  width: 100%;
}
