.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.admin-header {
  margin-bottom: 1rem;
}

th,
td {
  padding: 8px;
  border: 1px solid #aaaaaa;
  text-align: left;
}

.clear {
  margin-left: 0.5rem;
}

.total {
  background-color: #e4e4e4;
}

thead {
  background-color: #fff;
}
