<div class="main">
  <div class="up-div"></div>
  <div class="wrapper">
    <img class="illustration" src="/assets/about.webp" />
    <div class="content">
      <h1>Bride2Be Boutique</h1>
      <p>
        Vă oferă o gamă largă de rochii de mireasă, începand cu prețuri foarte
        mici.
      </p>
      <p>
        Produce și comercializează rochii de mireasă intro-o mare varietate de
        modele și mărimi, cu design unic și confecționate din materiale de cea
        mai bună calitate.
      </p>
      <p>
        De la modele vintage până la cele mai moderne trenduri, vă oferim rochii
        de designer și de colecție, create să vă transforme în veritabile
        prințese în ziua nunții.
      </p>
    </div>
  </div>
  <div class="low-div"></div>
</div>
<div class="details">
  <h2>Unde ne puteți găsi</h2>
  <div class="location">
    <div class="contacts">
      <h3>Date de contact</h3>
      <p><b>Adresă:</b> Suceava, strada Calea Bazarului nr.57</p>
      <p><b>Email</b>: bride2beboutiquesv&#64;gmail.com</p>
      <p><b>Telefon</b>: +40 733 574 971</p>
      <div class="socials">
        <a
          class="facebook"
          href="https://www.facebook.com/CarmangeriluiGeo/"
          target="_blank"
          ><img src="/assets/socials/facebook.png"
        /></a>
        <a class="facebook" href="https://wa.me/40733574971" target="_blank"
          ><img src="/assets/socials/whatsapp.png"
        /></a>
      </div>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10751.971169026116!2d26.2576949!3d47.6457069!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4734fc300cc55555%3A0xafe0c2e9f193afbb!2sBride2Be%20Boutique!5e0!3m2!1sro!2s!4v1714499211919!5m2!1sro!2s"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
