:host {
  display: block;
  margin-top: 5.4rem;
  margin-bottom: 5rem;
  padding-inline: 1rem;
  width: 100%;
  box-sizing: border-box;
  @media (min-width: 801px) {
    margin-top: 7rem;
    padding-inline: 20rem;
  }
}

article {
  display: flex;
  gap: 4rem;
  margin-bottom: 3rem;
  @media (max-width: 801px) {
    margin-bottom: 2rem;
    gap: 0;
    flex-direction: column;
  }
}

.content {
  width: 100%;
}

.name {
  font-weight: normal;
  font-size: 3rem;
  margin-block: 1rem;
  @media (min-width: 801px) {
    margin-block: 1rem 2rem;
  }
}

.price {
  margin-block: 1rem;
}

.btn {
  margin-top: 1rem;
  @media (min-width: 801px) {
    margin-top: 3rem;
  }
}

.added {
  display: block;
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  width: fit-content;
}
