.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.wrapper {
  display: flex;
  gap: 1rem;
  @media (max-width: 801px) {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

article {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  padding-right: 3rem;
  padding-bottom: 1.7rem;
  box-sizing: border-box;
  width: fit-content;
  cursor: pointer;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  color: rgb(53, 0, 0) !important;
  section {
    display: flex;
    flex-direction: column;
    h2 {
      color: rgb(53, 0, 0) !important;
      margin: 0;
      padding-bottom: 0.5rem;
      transition: 0.1s;
      @media (max-width: 801px) {
        font-size: 1.4rem;
      }
    }
  }
  mat-icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
  }
  &:hover {
    span {
      text-decoration: underline;
    }
  }
}
