:host {
  display: grid;
  place-items: center;
  height: 80vh;
  @media (min-width: 801px) {
    height: 100vh;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  @media (min-width: 801px) {
    width: 20%;
  }
}
